In [6]:
people= int(raw_input("enter no of people"))
buses = int(raw_input("enter no of buses"))
seats = int(raw_input("enter no of seats"))
if people > buses*seats:
    count = people - buses*seats
    extra = float(count/seats)
    if isinstance(extra,float)==True:
        extra+=1
        extra= int(extra)
        print "its in if in if block"
        print "no of buses reqd is", 
        
    else:
        print "its in else in if block"
        print "no of buses reqd is", extra
else:
    "sufficient buses"

enter no of people145
enter no of buses9
enter no of seats7
its in if in if block
no of buses reqd is

In [7]:
a = input("Total number of people: ")
b = input("Total number of busses: ")
c = input("Number of seats for bus: ")
d = (b*c)
e = (d-a)
f = (a-d)

if a == d or a <= d:
    print "There are sufficient busses and the remaining seats are %d" %(e)

else:
    print "There are no sufficient busses and the seats required are %d" %(f)

Total number of people: 145
Total number of busses: 9
Number of seats for bus: 7
There are no sufficient busses and the seats required are 82

In [ ]:
with open("string.txt", "rb") as fin:
    content = json.load(fin)
with open("stringJson.txt", "wb") as fout:
    json.dump(content, fout, indent=1)

In [9]:
import psycopg2
def db_connect():
    con=psycopg2.connect(user="postgres",password="postgres",port=5432,database="Test")
    cur=con.cursor()
    return con,cur
db_connect()

(<connection object at 0x00000000059B2678; dsn: 'password=xxxxxxxx port=5432 dbname=Test user=postgres', closed: 0>,
 <cursor object at 0x0000000004420F28; closed: 0>)

In [14]:
def create_table(idval,nameval):
    con,cur=db_connect()
    query="create table persons_test (id int, name varchar(50))"
    cur.execute(query)
    con.commit()
create_table("id","name")

In [28]:
def insert_values(id,name):
    con,cur=db_connect()
    cur.execute("insert into persons values ({0},'{1}')".format(id,name))
    con.commit()
insert_values(1,"janaki")

In [38]:
con,cur= db_connect()
query= "select * from persons"
data = cur.execute(query)
cur.fetchall()

[(1, 'janaki soundarya')]

In [34]:
def update_values(id,name):
    con,cur=db_connect()
    query= "update persons SET name = '{1}' where id = {0}".format(id,name)
    cur.execute(query)
    con.commit()
update_values(1,"janaki soundarya")

In [36]:
def delete_values(id):
    con,cur = db_connect()
    query= "DELETE FROM persons WHERE id = {0}".format(0)
    cur.execute(query)
    con.commit()
delete_values(1)